* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.App {
  header {
    color: black;
    height: 70px;
    margin-top: 10px;
    color: white;
    font-size: 50px;
    width: 100wh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.squarespace-cdn.com/content/v1/55353a22e4b0ff30bba29d10/1466506158787-0M5X940LHJYUKONYW4T8/ke17ZwdGBToddI8pDm48kPN_mworBnwcmpNxgML4En17gQa3H78H3Y0txjaiv_0fgkxBWjjRb1N_UxbACPPq6s92jIdx7oT_BLWUADjrcDcvF9L1sBxSwIxzXZS1C8kzrCLSIWAQvdC7iWmC9HNtRdb-hnCqoepq4X8c1traqO8-tj5t1BUJ-X05KKsynFA1Lat0pHmVOfSc5bKU8OsFVA/space+pattern-tile-02.jpg");
  }
  .container {
    height: 100%;
    width: 100%;
    max-width: 1080px;
    padding: 0 10px 10px 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .MuiFormControl-root {
      width: 100%;
    }
    .rover_select {
      width: 100%;
      margin-top: 5px;
      .MuiSelect-root {
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
      }
      .MuiSelect-select {
        display: flex;
        justify-content: center;
      }
    }
    .camera_select {
      .MuiSelect-root {
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
      }
      .MuiSelect-select {
        display: flex;
        justify-content: center;
      }
    }

    .MuiList-root {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .MuiListItem-root {
        width: 130px;
      }
    }

    .sol_select {
      margin-top: 30px;
      width: 100%;
      .sol_title {
        display: flex;
        justify-content: center;
        font-weight: normal;
      }
      .sol_controls-wrapper {
        display: flex;
        justify-content: space-between;
      }
      justify-content: space-between;
      .MuiSlider-root {
        width: 75%;
        padding: 30px 0;
      }
      .MuiTextField-root {
        width: 20%;
      }
    }

    .photos {
      margin-top: 30px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    
    .loadMoreButton {
      margin-top: 10px;
    }
  }
}
